@font-face {
    font-family: 'Avenir next';
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir next';
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf)  format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir next';
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf)  format('ttf');
    font-weight: 700;
}