$mobile-breakpoint: 32rem;
$tablet-breakpoint: 76.8rem;
$desktop-breakpoint: 1280rem;

$color--primary-black: #323232;
$color--primary-silver: #afafaf;
$color--primary-white: #ffffff;

$color--secondary-black: #000000;
$color--secondary-silver: #e1e1e1;
$color--secondary-white: #fafafa;

