@font-face {
  font-family: "Avenir next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-family: "Avenir next";
  min-width: 32rem;
  max-width: 76.7rem;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

* a, li {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}
@media screen and (min-width: 32rem) {
  h1 {
    font-size: 6rem;
    line-height: 6.8rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
@media screen and (min-width: 32rem) {
  h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 600;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media screen and (min-width: 32rem) {
  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media screen and (min-width: 32rem) {
  p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  padding: 2rem 0 0 0;
}
.header .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0 0 0;
}
.header .navbar__link {
  display: flex;
  justify-content: center;
  width: 50%;
  color: #afafaf;
  padding: 1.6rem 0;
}
.header .navbar__link--border {
  font-weight: 600;
  color: #ffffff;
  border-bottom: 0.5rem solid #ffffff;
}
@media screen and (min-width: 32rem) {
  .header {
    padding: 0 3.6rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header .navbar {
    width: 50%;
    justify-content: space-evenly;
  }
  .header .navbar__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  height: 25vh;
}
@media screen and (min-width: 32rem) {
  .main {
    height: 70vh;
    background-position: cover;
  }
}
.main-hero-image {
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position-x: right;
}
.main__title {
  display: flex;
  justify-content: center;
  margin-left: 3.6rem;
  font-size: 2.4rem;
  color: #ffffff;
  z-index: 1;
}
@media screen and (min-width: 32rem) {
  .main__title {
    font-size: 6rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.6rem 0rem 1.6rem;
}
.section__image {
  width: 100%;
}
.section__title {
  margin-bottom: 1rem;
}
.section__subtitle {
  font-weight: 600;
}
.section-down__title {
  font-weight: 600;
  font-size: 1.4rem;
}
@media screen and (min-width: 32rem) {
  .section {
    padding: 2.4rem;
  }
  .section-up, .section-down {
    margin-left: 10rem;
    margin-right: 1.6rem;
  }
  .section-text {
    display: flex;
    padding-right: 0 2.4rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  background-color: rgba(225, 225, 225, 0.2);
}
.gallery__image {
  width: 100%;
  margin: 1rem 0;
}
@media screen and (min-width: 32rem) {
  .gallery {
    padding: 2.4rem;
  }
  .gallery-images {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__image {
    width: 20%;
    margin: 2rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding: 2.4rem 1.6rem 0 1.6rem;
  color: #ffffff;
}
.footer-social {
  display: flex;
}
.footer-social__logo {
  margin-right: 3rem;
}
.footer-cards div {
  padding: 1.6rem 0 0 0;
}
.footer__image {
  padding-top: 2rem;
}
@media screen and (min-width: 32rem) {
  .footer {
    padding: 2.4rem;
  }
}/*# sourceMappingURL=bio.css.map */