@use 'partials/fonts' as *;
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/reset' as *;


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color--primary-black;
    padding: 2rem 0 0 0;

    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2rem 0 0 0;

        &__link {
            display: flex;
            justify-content: center;
            width: 50%;
            color: $color--primary-silver;
            padding: 1.6rem 0;
            
            &--border {
                font-weight: 600;
                color: $color--primary-white;
                border-bottom: .5rem solid $color--primary-white;
            }
        }

    }

    @include tablet {
        padding: 0 3.6rem;
        flex-direction:row;
        justify-content: flex-start;
        .navbar{
            width: 50%;
            justify-content: space-evenly;

            &__link {
                width: fit-content;
            }
        }
      }

}

.main {
    width: 100%;
    height: fit-content;
    display: flex;
    height: 25vh;

    @include tablet{
        height: 70vh;
        background-position: cover;
    }

    &-hero-image {
        width: 100vw;
        display: flex;
        align-items: center;
        background-image: url(../assets/images/hero-bio.jpg);
        background-size: cover;
        background-position-x: right;
    }
    
    &__title{
        display: flex;
        justify-content: center;
        margin-left: 3.6rem;
        font-size: 2.4rem;
        color: $color--primary-white;
        z-index: 1;

        @include tablet{
            font-size: 6rem;
        }
    }

    
}

.section {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.6rem 0rem 1.6rem;
    
    &__image {
        width: 100%;
    }

    &__title {
        margin-bottom: 1rem ;
    }

    &__subtitle{
        font-weight: 600;
    }

    &-down__title {
        font-weight: 600;
        font-size: 1.4rem;
    }

    @include tablet{
        padding: 2.4rem;

        &-up, &-down {
                margin-left: 10rem;
                margin-right: 1.6rem;
        }
        
        &-text{
            display: flex;
            padding-right: 0 2.4rem;
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
    background-color:rgba($color: $color--secondary-silver, $alpha: .2);

    &__image{
        width: 100%;
        margin: 1rem 0;
    }

    @include tablet{
        padding: 2.4rem;
        
        &-images{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__image{
            width: 31%;
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: $color--primary-black;
    padding: 2.4rem 1.6rem 0 1.6rem;
    color: $color--primary-white;

    &-social {
        display: flex;
        
        &__logo{
            margin-right: 3rem;
        }   
    }

    &-cards div{
        padding: 1.6rem 0 0 0;
    }
    &__image {
        padding-top: 2rem;
    }

    @include tablet{
        display: flex;
        padding: 2.4rem;
        flex-direction: column;
        position: relative;

        &-cards {
            display: flex;
            justify-content: space-between;
        }

        &-card__name {
            font-size: 1.6rem;
        }

        &-image {
            position: absolute;
            top: 13%;
            right: 12%;
            scale: 2;
        }

        &__copy {
            padding: 2.4rem 0;
        }
    }
}