@font-face {
  font-family: "Avenir next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 320px) {
  body {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: "Avenir next";
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100vw;
  }
}

* a, li {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 6.8rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 600;
  }
}

h3 {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
}

.header {
  background-color: #323232;
}
.header-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
}
.header-items .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-items .navbar__link {
  display: flex;
  justify-content: center;
  width: 50%;
  color: #afafaf;
  padding: 1.6rem 0;
}
.header-items .navbar__link--border {
  font-weight: 600;
  color: #ffffff;
  border-bottom: 0.3rem solid #ffffff;
}
.header-items .navbar__link:hover {
  width: 50%;
  background-color: #000000;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .header-items {
    padding: 0 3.6rem;
    padding-top: 2rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header-items .navbar {
    width: 50%;
    justify-content: space-evenly;
  }
  .header-items .navbar__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 2rem;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-items {
    justify-content: center;
    width: 50%;
  }
  .header-items .navbar {
    width: 55%;
    justify-content: space-evenly;
  }
  .header-items .navbar__link {
    padding: 3rem 0;
  }
}

.main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .main {
    height: 70vh;
    background-position: cover;
  }
}
.main-hero-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5) 0%, rgba(50, 50, 50, 0.5) 80%), url(../assets/images/hero-shows.jpg);
  background-size: cover;
}
.main-hero-text, .main-hero__iframe {
  margin-left: 1.6rem;
  color: #ffffff;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .main-hero-text, .main-hero__iframe {
    margin-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-hero-text, .main-hero__iframe {
    font-size: 6rem;
    margin: 0 8rem;
  }
}
@media screen and (min-width: 768px) {
  .main-hero__text {
    margin: 0;
  }
  .main-hero__title {
    margin-top: 0;
  }
  .main-hero__iframe {
    width: 52%;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    height: 75vh;
    background-position: cover;
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.6rem 0rem 1.6rem;
}
.section-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section__subtitle {
  color: #afafaf;
}
.section__date {
  font-weight: 600;
}
.section-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #323232;
  border-radius: 0.4rem;
  padding: 0 3.2rem;
}
.section-divider {
  height: 0.1rem;
  color: #e1e1e1;
  margin-left: -1.6rem;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 2.4rem 3.6rem;
  }
  .section-button {
    max-width: 15rem;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 0 10rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  background-color: rgba(225, 225, 225, 0.2);
}
.gallery__image {
  width: 100%;
  margin: 1rem 0;
}
.gallery__image:hover {
  scale: 1.1;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 2.4rem 3.6rem;
  }
  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery__image {
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 10rem;
    padding-bottom: 2rem;
  }
  .gallery__image {
    margin: 0;
    margin-bottom: 2rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding: 2.4rem 1.6rem 0 1.6rem;
  color: #ffffff;
}
.footer-social {
  display: flex;
}
.footer-social__logo {
  margin-right: 3rem;
}
.footer-cards div {
  padding: 1.6rem 0 0 0;
}
.footer__image {
  margin-top: 3.6rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;
    position: relative;
    font-size: 1.3rem;
  }
  .footer-up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .footer__title {
    margin: 0;
    font-size: 3rem;
  }
  .footer-social {
    margin-left: 9rem;
    margin-right: 15rem;
  }
  .footer-social img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .footer-cards {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-right: 2rem;
  }
  .footer-card__name {
    font-size: 1.3rem;
  }
  .footer-card__email {
    margin: 2rem 0;
  }
  .footer-bottom-image {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2.4rem 10rem;
  }
  .footer-up {
    width: 100%;
  }
  .footer-social {
    margin-left: 11rem;
    margin-right: 52rem;
  }
  .footer-image {
    padding-right: 5%;
  }
  .footer-cards {
    justify-content: space-between;
    width: 70%;
  }
}/*# sourceMappingURL=shows.css.map */